
<ion-header>

  <ion-navbar>
    <ion-title>Overview</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div>
    <button ion-button (click)="goToExerciseCategory()">Create a Workout</button>
    <button ion-button (click)="goToCheckProgress()">Check Progress</button>
  </div>

  <div *ngFor="let workout of userWorkout; let i=index " class="workoutDayBubble" >
    <input type="checkbox" [(ngModel)]="workout.workoutCompleted"/> {{ workout.date }}
    <div (click)="goToDayDetail(i)" *ngFor="let type of workout.workouts" class="workoutDetailBubble">
     {{type.amount}} {{type.name}}
    </div>


  </div>



</ion-content>
