
<ion-header>

  <ion-navbar>
    <ion-title>Overview</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="overviewButtons">
    <button ion-button half (click)="goToExerciseCategory()">Create a Workout</button>
    <button ion-button half (click)="goToCheckProgress()">Check Progress</button>
  </div>

  <div *ngFor="let workout of userWorkout | async; let i=index " class="workoutDayBubble" >
    <input type="checkbox" (click)="updateFirebase()" [(ngModel)]="workout.workoutCompleted"/> {{ workout.date }}
    <div id="clearAllDiv"><button id="clearAllButton" (click)="clearAllWorkouts(i)">Clear Day</button></div>
    <div (click)="goToDayDetail(i)" *ngFor="let type of workout.workouts" class="workoutDetailBubble">
     {{type.amount}} {{type.name}}
    </div>
  </div>



</ion-content>
