<ion-header>
  <ion-navbar>
    <ion-title>Exercises</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 style="text-align: center;">Days to complete your workout(s)</h3>
  <ion-list>
    <ion-item *ngFor="let day of daysOfTheWeek">
      <ion-label>{{day.day}}</ion-label>
      <ion-checkbox red item-right [(ngModel)]="day.isSelected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <div *ngIf="errors" style="color:white;font-weight: bold;text-align: center;">
    {{errorMessage}}
  </div>
  <button ion-button icon-left full round (click)="finish()">
    <ion-icon name="create"></ion-icon>
    Finish
  </button>
</ion-content>
